body {
  background-image: url("https://images.unsplash.com/photo-1524863479829-916d8e77f114?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  font-family: Tahoma;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-attachment: fixed;
}

.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  grid-template-areas:
    ". . . . . . . "
    ". . div1 div1 div1 . ."
    ". . div1 div1 div1 . ."
    ". . . . . . . ";
}

@media screen and (min-width: 1000px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 80px;
    grid-row-gap: 30px;

    grid-template-areas:
      ". . . . . . . "
      ". . div1 div1 div1 . ."
      ". . div1 div1 div1 . ."
      ". . . . . . . ";
  }
}

.div1 {
  grid-area: div1;
}

mat-card {
  margin-top: 20px;
}
