<!-- inspired by https://www.positronx.io/create-login-ui-template-with-angular-8-material-design/ -->
<body>
  <div class="parent">
    <div class="div1">
      <div class="card">
        <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
          <mat-card class="box">
            <mat-card-header>
              <mat-card-title class="card-title">
                Create a new account
              </mat-card-title>
            </mat-card-header>

            <form class="example-form">
              <mat-card-content>
                <mat-form-field class="full-width">
                  <input matInput placeholder="Username" type="text" />
                </mat-form-field>

                <mat-form-field class="full-width">
                  <input matInput placeholder="Password" type="password" />
                </mat-form-field>
              </mat-card-content>
              <button mat-stroked-button color="accent" class="btn-block">
                Log in
              </button>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</body>
